@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.ios, .mac {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0px 5px 5px 0px gray;
          box-shadow: 0px 5px 5px 0px gray;
}

.ios:hover, .mac:hover {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ios {
  color: white;
  background-color: #26baa4;
}

.mac {
  color: white;
  background-color: #6173ff;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .ios, .mac {
    margin-bottom: 10px;
    width: 50%;
  }
  .track_content2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .track_content2 .sub_track {
    padding: 20px;
  }
  .work_flow .work_flow_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10%;
  }
  .work_flow .work_flow_items .items {
    padding-bottom: 10%;
  }
  .company_logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company_logo .company_img {
    padding-bottom: 10%;
  }
  .footer_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

p {
  line-height: 1.5;
  color: #9fabb2;
}

h1, h2, h3 {
  color: #4c545d;
}

img {
  max-width: 80%;
}

li {
  list-style: none;
  line-height: 2;
}

li:hover {
  color: #26baa4;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10% 0px 8% 0px;
}

.header img {
  width: 80px;
}

.header h1 {
  padding-top: 20px;
}

.header p {
  padding: 20px 15%;
}

.track {
  padding: 5% 0px 5% 0px;
}

.track .track_content {
  text-align: center;
}

.track .track_content p {
  padding: 20px 25%;
}

.track .track_content2 {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.track .track_content2 .sub_track h3 {
  padding: 15px 0px;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.access p {
  padding: 20px 10% 0px;
}

.access img {
  padding-top: 10%;
}

.work_flow {
  text-align: center;
  padding: 5% 0px;
}

.work_flow h2 {
  padding: 10px 0px;
}

.work_flow .work_flow_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.work_flow .items img {
  width: 50px;
  padding-bottom: 25px;
}

.work_flow .items h3 {
  padding-bottom: 20px;
}

.company_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.clip_board {
  text-align: center;
  padding: 5% 0px 10%;
}

.clip_board p {
  padding: 20px 0px;
}

footer {
  background-color: #ededed;
  color: #4c545d;
  padding-top: 30px;
}

footer .footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

footer img {
  width: 50px;
}

footer .social_links i {
  margin-left: 20px;
}

footer .social_links:hover {
  color: #26baa4;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/*# sourceMappingURL=index.css.map */